.nv {
  margin-left: -1rem;
  margin-top: -2rem;
  width: 96.5rem;
  height: 5rem;
  background-color: #003049;
}

.vms {
  font-size: 2rem;
  font-family: "Times New Roman", Times, serif;
  color: white;
  margin-left: 25rem;
  margin-top: 2rem;
  padding: 1.2rem;
}
nav#nav2 {
  background-color: #118ab2;
  width: 96.5rem;
  margin-left: -1rem;
  margin-top: 0rem;
}

nav#nav2 ul {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

nav#nav2 ul li {
  list-style: none;
}

nav#nav2 ul li a {
  /* height: 3rem; */
  text-decoration: none;
  font-size: 16px;
  padding: 10px 15px;
  background-color: #1186ae;
  display: block;
  border-right: 1px solid #ffffff;
  -webkit-transition: background-color 0.7s ease;
  transition: background-color 0.7s ease;
  color: white;
}

nav#nav2 ul li a:hover {
  background-color: #ffffff;
  color: #000000;
}

.vaccine {
  font-size: 3.5rem;
  margin-left: 31rem;
  margin-top: -3rem;
  color: #003049;
}

.v {
  margin-left: 2rem;
}
.vaccinename {
  color: #003049;
  font-size: 2rem;
  margin-left: 22rem;
  /* margin-top: 20rem; */
}
.vname {
  text-align: center;
  display: block;
  height: 5vh;
  font-size: 1.7rem;
  border-radius: 5px 0px 0px 5px;
  padding-left: 0.2rem 0px;
  margin-left: 45rem;
  margin-top: -4.7rem;
  font-family: "Times New Roman", Times, serif;
  border-color: black transparent black black;
}

.sub {
  margin-left: 68rem;
  margin-top: -2.4rem;
  border-color: transparent;
}
.submit {
  color: white;
  padding: 0.6rem 1.6rem 0.6rem 0.6rem;
  border-radius: 0px 5px 5px 0px;
  background-color: #003049;
}

/* .icon {
  margin-left: 20rem;
  margin-top: -2.3rem;
  font-size: 1.7rem;
  color: whitesmoke;
} */
